#!/bin/bash

{% if ansible_distribution == "Ubuntu" %}
/usr/bin/env figlet "$(hostname)" | /usr/bin/env /usr/games/lolcat -f
{% else %}
/usr/bin/env figlet "$(hostname)" | /usr/bin/env lolcat -f
{% endif %}
